.honsapp > .display
	position absolute
	top 0px
	right 0px
	bottom 0px
	left sidebar_size

	overflow hidden

	//
	// STYLES FOR DISPLAY_PAGE
	//
	> .page_wrapper
		abspos(0, 0, 0, 0)
		background-color #ddd
		td_gradient(#efefef, #ababab)
		user_select(text)
		cursor auto
	
		> .page
			width 600px
			padding 0px 20px
			margin 25px auto

	//
	// STYLES FOR DISPLAY_STREAM
	//
	> .header
		position absolute
		top 0
		right 0
		left 0
		height streamheader_size

		background-color #222
		td_gradient(#454545, #232323)
		color #ddd

		> .channel-title
			> .label
				position absolute
				top 10px
				left 10px
			> .title
				position absolute
				top 25px
				left 10px
				font-size 1.8em
				user_select(text)
				cursor auto
		
		> .stream-title
			position absolute
			right 0px
			bottom 0px
			left 0px
			text-align center

			> .inner
				display inline-block
				max-width 300px
				background-color #000
				padding 7.5px
				border_radius(5px, 5px, 0px, 0px)
				box-shadow 0px -1px 5px rgba(255, 255, 255, 0.33)
				td_gradient(#343434, #010101)
				user_select(text)
				cursor auto

		> .viewers
			position absolute
			top 10px
			right 10px
			text-align right

			color #999
			text-shadow 1px 1px 0px rgba(0, 0, 0, 0.4)

			user_select(text)
			cursor auto
		
			> span
				font-weight bold
		
		> .featured
			position absolute
			bottom 10px
			right 10px

			color #999
			text-shadow 1px 1px 0px rgba(0, 0, 0, 0.4)

			> strong
				color #b78727
		
		> .toolbar
			button_height = 30px
			button_padding = 7px

			position absolute
			bottom 10px
			left 10px
			height button_height

			> .button
				display inline-block
				margin-right 5px

				background-color #666
				td_gradient(#676767, #454545)
				border_radius(3px)

				cursor pointer

				padding button_padding
				height button_height - button_padding * 2

				&:hover
					background-color #777
					td_gradient(#787878, #565656)
				
				&:active
					box-shadow inset 0px 5px 5px rgba(0, 0, 0, 0.25)

	> .jtv_wrapper
		position absolute
		top streamheader_size
		right 0
		bottom 0
		left 0
		overflow hidden

		// Style if stream is not displayed
		&.no-chat
			> .embed
				right 0px
			> .chat
				visibility hidden

		> .embed
			abspos(0, chatbox_size, 0, 0)

			background-color black

			> object
				width 100%
				height 100%
		
		> .chat
			position absolute
			top 0
			right 0
			bottom 0
			width chatbox_size

			background-color black

			> .reloadbtn
				padding 5px
				margin 10px 10px 0px 10px
				text-align center

				background-color #666
				color #ddd
				td_gradient(#676767, #454545)
				border_radius(3px)

				cursor pointer

				&:hover
					background-color #777
					td_gradient(#787878, #565656)
				
				&:active
					box-shadow inset 0px 5px 5px rgba(0, 0, 0, 0.25)
			
			> .wrapper
				abspos(35px, 0px, 0px, 0px)

				> iframe
					width chatbox_size
					height 100%
		
		> .chat.delayed
			> .delay
				margin 10px 10px 0px 10px
				padding 5px
				border_radius(5px)

				text-align center
				background-color #511
				color #eee
			> .wrapper
				top 70px
