.honsapp > .display
	position absolute
	top 0px
	right 0px
	bottom 0px
	left sidebar_size

	overflow hidden

	background-color cyan

	//
	// STYLES FOR DISPLAY_PAGE
	//
	> .page
		width 640px

		margin 25px auto

	//
	// STYLES FOR DISPLAY_STREAM
	//
	> .header
		position absolute
		top 0
		right 0
		left 0
		height streamheader_size

		background-color violet

		> .channel-title, > .stream-title
			margin 10px
		
		> .viewers
			margin 10px

			position absolute
			top 0
			right 0
			text-align right
		
			> span
				font-weight bold
		
		> .featured
			margin 10px
			position absolute
			top 48px
			right 0
		
		> .toolbar
			button_height = 30px
			button_padding = 8px

			position absolute
			bottom 5px
			left 5px
			height button_height

			background-color lime

			> .button
				display inline-block
				margin-left 15px
				outline 1px solid red

				padding-top button_padding
				height button_height - button_padding

				&:first-child
					margin-left 0

	> .jtv_wrapper
		position absolute
		top streamheader_size
		right 0
		bottom 0
		left 0
		overflow hidden

		// Style if stream is not displayed
		&.no-chat
			> .embed
				right 0px
			> .chat
				visibility hidden

		> .embed
			abspos(0, chatbox_size, 0, 0)

			background-color black

			> object
				width 100%
				height 100%
		
		> .chat
			position absolute
			top 0
			right 0
			bottom 0
			width chatbox_size

			background-color black

			> iframe
				width 100%
				height 100%
