body
	font default_font_size default_font_face
	background-color black

a
	color #5678de
	text-decoration underline

	&:hover
		text-decoration none

p
	margin 15px 0

h1
	font h1_font_size h1_font_face

h2
	font h2_font_size h2_font_face

h3
	font h3_font_size h3_font_face

strong
	font-weight bold

em
	font-style italic

sub
	font-size 0.75em
