@import 'shared'

@import 'reset'
@import 'elements'

@import 'tipsy'

@import 'sidebar'
@import 'display'

.honsapp
	position absolute
	top 0
	right 0
	bottom 0
	left 0

	// min-width 237px + 485px
	// min-height 400px

	background-color #000
	cursor default

	user_select(none)

	> .error
		position absolute
		top 50%
		left 0px
		right 0px
		margin-top -50px
		text-align center
		font-size 20px
		color #faa
		user_select(text)
		cursor auto

		a
			color #b99
