
// Import the Basic font
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic,vietnamese,latin-ext,greek-ext,greek,cyrillic-ext')

sidebar_size = 250px
chatbox_size = 275px
streamheader_size = 100px
sidebar_ad_height = 250px

default_font_face = "Open Sans"
default_font_size = 13px
button_font_face = "Open Sans"
button_font_size = 0.75em
h1_font_face = "Open Sans"
h1_font_size = 2.5em
h2_font_face = "Open Sans"
h2_font_size = 1.75em

// Shortcut for position: absolute stuff
// top, right, bottom, left
abspos(a, b, c, d)
	position absolute
	top a
	right b
	bottom c
	left d

// Shortcut for top-down gradient background color
td_gradient(color1, color2)
	background-color (color1 + (color2 - color1) / 2)
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(color1), to(color2))
	background -webkit-linear-gradient(top, color1, color2)
	background -moz-linear-gradient(top, color1, color2)
	background -ms-linear-gradient(top, color1, color2)
	background -o-linear-gradient(top, color1, color2)
	filter s("progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='%s', EndColorstr='%s')", color1, color2)

// Shortcut for left-right gradient background color
lr_gradient(color1, color2)
	background -webkit-gradient(linear, 0% 0%, 100% 0%, from(color1), to(color2))
	background -webkit-linear-gradient(left, color1, color2)
	background -moz-linear-gradient(left, color1, color2)
	background -ms-linear-gradient(left, color1, color2)
	background -o-linear-gradient(left, color1, color2)

// Shortcut for border-radius
border_radius(radius)
	-webkit-border-radius 5px
	-moz-border-radius 5px
	border-radius 5px

border_radius(a, b = a, c = a, d = a)
	-webkit-border-top-left-radius a
	-webkit-border-top-right-radius b
	-webkit-border-bottom-right-radius c
	-webkit-border-bottom-left-radius d
	-moz-border-radius-topleft a
	-moz-border-radius-topright b
	-moz-border-radius-bottomright c
	-moz-border-radius-bottomleft d
	border-top-left-radius a
	border-top-right-radius b
	border-bottom-right-radius c
	border-bottom-left-radius d

// Shortcut for user-select
user_select(opt)
	-webkit-touch-callout opt
	-webkit-user-select opt
	-khtml-user-select opt
	-moz-user-select opt
	-ms-user-select opt
	-o-user-select opt
	user-select opt
