.honsapp > .sidebar
	position absolute
	left 0
	top 0
	bottom 0
	width sidebar_size - 3px

	overflow hidden

	background-color #666
	border-right 3px solid #000

	> .header
		position relative
		height 50px
		cursor pointer

		background-color #111
		td_gradient(#343434, #010101)

		color #fff

		&:hover
			background-color #222
			td_gradient(#454545, #121212)

		> .logo img
			position relative
			top 5px
			left 5px
			width 40px
			height 40px
		
		> .link
			position absolute
			top 11px
			left 60px

			font-size 2em
			font-family "Myriad Pro"
			text-shadow 2px 2px 4px rgba(0, 0, 0, 0.5)
	
	> .streams-info
		height 30px
		padding 5px

		background-color #888
		td_gradient(#abcdef - #333333, #abcdef - #555555)

		border-top 1px solid black

		color #000
		text-shadow 1px 1px 0px rgba(255, 255, 255, 0.2)
			
	> .streams
		position absolute
		top 90px
		left 0px
		// bottom 63px
		bottom 0px
		width sidebar_size

		border-bottom 3px solid black

		.stream
			position relative
			height 40px
			background-color #111
			td_gradient(#232323, #121212)
			color #fff
			margin-bottom 2px
			width sidebar_size
			border-top 1px solid black

			cursor pointer

			&:hover
				background-color #222
				td_gradient(#343434, #232323)
			
			&:active
				background-color #000
				td_gradient(#121212, #232323)

			> .image
				position relative
				width 53px
				height 40px
				background-size 100%

			> .title
				white-space nowrap
				position absolute
				top 4px
				left 58px
				width sidebar_size - 80px
				overflow hidden
				font-size 1.25em

			> .viewers
				position absolute
				bottom 5px
				left 58px
				color #888
				font-size 0.75em

			.featured
				position absolute
				bottom 5px
				right 20px
				color #b78727
				font-size 0.75em

		// Scrollbar plugin styles
		> #sidebar_streams_container
			abspos(0, 0, 0, 0)
		
			> .customScrollBox
				abspos(0, 0, 0, 0)
				overflow hidden

				> .container
					position relative
					width sidebar_size
					float left
		
			.dragger_container
				position absolute
				top 5px
				right 5px
				bottom 5px
				width 10px
				opacity 0.3

				&:hover
					opacity 0.8
			
				> .dragger
					position absolute
					width 10px
					height 100px
					cursor pointer
					background-color #fff
					border_radius(5px)
				
				> .dragger_pressed
					position absolute
					width 10px
					height 100px
					cursor pointer
					background-color #ddd

	> .ad
		position absolute
		right 0px
		bottom 0px
		left 0px
		height 60px
