@import 'config'

.honsapp > .sidebar
	position absolute
	left 0
	top 0
	bottom 0
	width sidebar_size

	overflow hidden

	background-color blue

	> .header
		position relative
		height 50px

		> .logo
			width 40px
			height 40px
			margin 5px

			background-color black
			color white
		
		> .link
			position absolute
			top 15px
			left 60px
	
	> .streams-info
		height 50px

		background-color red
			
	> .streams
		background-color green

		> .stream
			position relative
			height 40px
			background-color orange
			color black
			margin-bottom 5px
			overflow hidden

			> .image
				width 53px
				height 40px
				background-size 100%
			
			> .title
				white-space nowrap
				position absolute
				top 3px
				left 58px

			> .viewers
				position absolute
				bottom 3px
				left 58px
				color black + #555
