.honsapp > .sidebar
	position absolute
	left 0
	top 0
	bottom 0
	width sidebar_size - 1px

	overflow hidden

	background-color #666
	td_gradient(#898989, #565656)
	border-right 1px solid #000

	> .header
		position relative
		height 50px
		cursor pointer

		background-color #111
		td_gradient(#343434, #010101)

		color #fff

		border-bottom 1px solid black

		&:hover
			background-color #222
			td_gradient(#454545, #121212)

		> .logo img
			position relative
			top 5px
			left 5px
			width 40px
			height 40px
		
		> .link
			position absolute
			top 12px
			left 60px

			font-size 1.6em
			font-family h1_font_face
			text-shadow 2px 2px 4px rgba(0, 0, 0, 0.5)
	
	> .streams-info
		height 34px
		padding 4px 5px
		line-height 15px

		background-color #888
		td_gradient(#abcdef - #333333, #abcdef - #555555)

		border-bottom 1px solid black

		color #000
		text-shadow 1px 1px 0px rgba(255, 255, 255, 0.2)

		// Style for when streams are still loading
		.loading
			padding-top 5px
			text-align center
			font-size 1.5em
			
	> .streams
		position absolute
		top 90px
		left 0px
		bottom sidebar_ad_height
		width sidebar_size

		border-bottom 1px solid black

		background-image url('images/stream_list_background.png')
		background-repeat repeat

		.loading
			img
				display block
				margin 40px auto

		.message
			padding 10px
			text-shadow 1px 1px 1px rgba(255, 255, 255, 0.3)

		.stream
			position relative
			height 40px
			background-color #111
			td_gradient(#232323, #121212)
			color #fff
			margin-bottom 2px
			width sidebar_size
			border-top 1px solid black

			cursor pointer

			&:hover
				background-color #222
				td_gradient(#343434, #232323)
			
			&:active
				background-color #000
				td_gradient(#121212, #232323)

			> .image
				position relative
				width 53px
				height 40px
				background-size 100%

			> .title
				white-space nowrap
				position absolute
				top 2px
				left 58px
				width sidebar_size - 80px
				overflow hidden
				font-size 1.25em

			> .viewers
				position absolute
				bottom 4px
				left 58px
				color #888
				font-size 0.75em

			.featured
				position absolute
				bottom 4px
				right 20px
				color #b78727
				font-size 0.75em

		// Scrollbar plugin styles
		> #sidebar_streams_container
			abspos(0, 0, 0, 0)
		
			> .customScrollBox
				abspos(0, 0, 0, 0)
				overflow hidden

				> .container
					position relative
					width sidebar_size
					float left
		
			.dragger_container
				position absolute
				top 5px
				right 5px
				bottom 5px
				width 10px
				opacity 0.3

				&:hover
					opacity 0.8
			
				> .dragger
					position absolute
					width 10px
					height 100px
					cursor pointer
					background-color #fff
					border_radius(5px)
				
				> .dragger_pressed
					position absolute
					width 10px
					height 100px
					cursor pointer
					background-color #ddd

	> .ad
		position absolute
		right 0px
		bottom 0px
		left 0px
		height sidebar_ad_height

		background-color #000
		td_gradient(#000, #111)

		iframe
			width 250px
			height 250px
			margin 0
			padding 0
